@import "~vue-snotify/styles/material";

@import "~vue2-animate/src/sass/vue2-animate.scss";

@import "./com_list";

@import "./_login.scss";

//@import "./_navbar.scss";

//@import "./new_home";

// @import "./_parties_form.scss";
//@import "./home";
// @import "./_checkbox_list.scss";
.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

.list-backgroundt {
    background-image: url(../blockchain.jpeg);
}

 @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);




















